    body {
    margin: 0 100px;
    padding: 0;
    text-align: center;
    justify-content: center;
    }



#logo{
    margin-top: 10px;
}

.main{
    background-color: rgba(0, 0, 0, 0.103);
    padding: 5px;
}

.footer{
    display: flex;
    width: 100%;
    height: 85px;
    margin-top: 5px;
    line-height: 0.5;
    font-family: 'Times New Roman', Times, serif;
}

.footer-left{
    background-color: rgb(126, 229, 218);
    width: 33.33%; 
    font-size: 16px;
    margin-right: 2px; 
}

.footer-mid{
    width: 23.33%;
    background-color: rgb(112, 204, 194);
    font-size: 13px;
    margin-right: 2px; 
}

.footer-right{
    width: 43.33%;
    font-size: 13px;
    background-color: rgb(112, 204, 194);
   
}

